@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Lato|Open+Sans:300,400&display=swap');

$main_font: 'Open Sans', 'sans-serif';
$button_font: 'Lato', 'sans-serif';
$h1_font:'Didact Gothic', 'sans-serif';
$strapline_font: 'Open Sans Light', 'sans-serif';
$h2_font: 'Lato Bold', 'sans-serif';
$strapline2_font: 'Lato Light', 'sans-serif';

$button_color: #ffbb42;
$section_background: #719dca;
$thrd_section_background: #e8edf3;
